Repository Automattic/newspack-newsletters, pull requests merged in 2020-09, with the labels that each got.

#317 Assorted bugfixes
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  src/newsletter-editor/styling/index.js
Labels: [Status] Approved

#323 Release Sep 01
  includes/class-newspack-newsletters-ads.php
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  package-lock.json
  package.json
  src/ads-admin/AdsManager/index.js
  src/ads-admin/AdsManager/style.scss
  src/ads-admin/index.js
  src/branding/index.js
  src/branding/style.scss
  src/components/init-modal/style.scss
  src/newsletter-editor/styling/index.js
  webpack.config.js
Labels: [Status] Approved

#324 Harden post type checks
  includes/class-newspack-newsletters-editor.php
Labels: [Status] Approved, bug

#326 Posts Inserter: remove empty category select
  src/editor/blocks/posts-inserter/query-controls.js
Labels: [Status] Approved

#328 Release Sep 08
  includes/class-newspack-newsletters-editor.php
  src/editor/blocks/posts-inserter/query-controls.js
Labels: [Status] Approved

#330 Fix: gate editor with settings modal when no MJML creds are set
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#331 fix: increase timeout for api tag retrieval
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: Mailchimp, [Status] Approved, bug

#336 Fix: handle missing provider
  includes/class-newspack-newsletters.php
Labels: [Status] Needs Review

#338 Release Sep 15
  includes/class-newspack-newsletters.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  package-lock.json
Labels: [Status] Approved

#339 feat: add author support for newsletter CPT
  includes/class-newspack-newsletters.php
  src/components/send-button/index.js
  src/newsletter-editor/editor/style.scss
Labels: [Status] Approved

#329 Add basic PHP tests
  .circleci/config.yml
  bin/install-wp-tests.sh
  includes/class-newspack-newsletters-renderer.php
  phpunit.xml.dist
  tests/bootstrap.php
  tests/test-renderer.php
Labels: [Status] Approved

#343 Release Sep 22
  .circleci/config.yml
  bin/install-wp-tests.sh
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  phpunit.xml.dist
  src/components/send-button/index.js
  src/newsletter-editor/editor/style.scss
  tests/bootstrap.php
  tests/test-renderer.php
Labels: [Status] Approved

#320 Add plugin readme.txt
  assets/screenshot-1.png
  assets/screenshot-2.png
  readme.txt
Labels: [Status] Approved

#345 Update readme screenshot
  assets/screenshot-2.png
  readme.txt
Labels: [Status] Approved

#346 Create wporg-assets directory
  wporg-assets/banner-1544x500.png
  wporg-assets/banner-772x250.png
  wporg-assets/icon-128x128.png
  wporg-assets/icon-256x256.png
  wporg-assets/screenshot-1.png
  wporg-assets/screenshot-2.png
Labels: [Status] Approved

#347 chore: fix envelope in icon and add SVG version of icon
  wporg-assets/icon-128x128.png
  wporg-assets/icon-256x256.png
  wporg-assets/icon.svg
Labels: [Status] Approved

#351 Add Joe to contributors list
  readme.txt
Labels: [Status] Approved

#352 Chore: remove author URI
  newspack-newsletters.php
Labels: [Status] Approved

#348 feat: posts inserter enhancements
  src/components/autocomplete-tokenfield/autocomplete-tokenfield.scss
  src/components/autocomplete-tokenfield/index.js
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/query-controls.js
  src/editor/blocks/posts-inserter/utils.js
Labels: [Status] Approved

#350 fix: prevent draft ads from being inserted into newsletters
  includes/class-newspack-newsletters-renderer.php
  phpcs.xml
Labels: [Status] Approved

#353 Release Sep 30, 2020
  includes/class-newspack-newsletters-renderer.php
  newspack-newsletters.php
  phpcs.xml
  readme.txt
  src/components/autocomplete-tokenfield/autocomplete-tokenfield.scss
  src/components/autocomplete-tokenfield/index.js
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/query-controls.js
  src/editor/blocks/posts-inserter/utils.js
  wporg-assets/banner-1544x500.png
  wporg-assets/banner-772x250.png
  wporg-assets/icon-128x128.png
  wporg-assets/icon-256x256.png
  wporg-assets/icon.svg
  wporg-assets/screenshot-1.png
  wporg-assets/screenshot-2.png
Labels: [Status] Approved
