Repository Automattic/newspack-newsletters, pull requests merged in 2020-07, with the labels that each got.

#255 feat: support linked images
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved, bug, regression

#256 fix: resolve php notices
  includes/service-providers/class-newspack-newsletters-service-provider-controller.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
Labels: [Status] Approved, bug

#241 Mailchimp: tags segmentation
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-controller.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/components/send-button/index.js
  src/components/send-button/style.scss
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/mailchimp/index.js
  src/service-providers/mailchimp/style.scss
  src/service-providers/mailchimp/utils.js
Labels: [Status] Approved, [Status] Needs Changes or Feedback

#257 MJML: handle social icons block aligment options
  includes/class-newspack-newsletters-renderer.php
  src/editor/index.js
Labels: [Status] Approved

#252 Ads: allow no expiry date
  includes/class-newspack-newsletters-renderer.php
  src/ads-admin/AdsManager/index.js
  src/ads-admin/editor/index.js
  src/ads-admin/utils.js
Labels: [Status] Approved

#259 Release 07/07/2020
  includes/class-newspack-newsletters-renderer.php
  includes/service-providers/class-newspack-newsletters-service-provider-controller.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-controller.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/ads-admin/AdsManager/index.js
  src/ads-admin/editor/index.js
  src/ads-admin/utils.js
  src/components/send-button/index.js
  src/components/send-button/style.scss
  src/editor/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/mailchimp/index.js
  src/service-providers/mailchimp/style.scss
  src/service-providers/mailchimp/utils.js
Labels: [Status] Approved

#262 Fix: support adding multiple buttons
  includes/class-newspack-newsletters-editor.php
Labels: [Status] Approved

#264 feat: show spinner while Post Inserter is loading image blocks
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/style.scss
Labels: [Status] Approved, [Status] Needs Changes or Feedback

#265 Append utm_medium param to all links in newsletter
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved

#267 Release 14/07/2020
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/style.scss
Labels: [Status] Approved

#269 Add spinner while sending test emails
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/components/with-api-handler/index.js
  src/newsletter-editor/testing/index.js
  src/newsletter-editor/testing/style.scss
Labels: [Status] Approved

#273 Release Jul 22
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  package-lock.json
  package.json
  src/components/with-api-handler/index.js
  src/newsletter-editor/testing/index.js
  src/newsletter-editor/testing/style.scss
Labels: [Status] Approved

#260 Ads: handle setting ad position
  includes/class-newspack-newsletters-ads.php
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  src/ads-admin/AdsManager/style.scss
  src/ads-admin/editor/index.js
  src/ads-admin/editor/style.scss
  src/newsletter-editor/sidebar/index.js
  src/newsletter-editor/sidebar/style.scss
  src/newsletter-editor/styling/index.js
Labels: [Status] Approved

#274 feat: constant contact integration
  composer.json
  composer.lock
  includes/class-newspack-newsletters.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-controller.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  newspack-newsletters.php
  src/newsletter-editor/testing/index.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/constant_contact/index.js
  src/service-providers/index.js
Labels: Constant Contact, ESP Implementation, [Status] Approved
