Repository Automattic/newspack-newsletters, pull requests merged in 2020-11, with the labels that each got.

#364 feat: campaign monitor implementation
  .circleci/config.yml
  composer.json
  composer.lock
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor-controller.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  src/components/init-modal/screens/api-keys/index.js
  src/components/send-button/index.js
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/sidebar/style.scss
  src/service-providers/campaign_monitor/ProviderSidebar.js
  src/service-providers/campaign_monitor/index.js
  src/service-providers/campaign_monitor/style.scss
  src/service-providers/index.js
Labels: [Status] Approved, [Status] Needs Changes or Feedback

#369 feat: enable custom footer
  includes/class-newspack-newsletters-renderer.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Needs Review

#372 Release Nov 11
  .circleci/config.yml
  composer.json
  composer.lock
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor-controller.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  src/components/init-modal/screens/api-keys/index.js
  src/components/send-button/index.js
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/sidebar/style.scss
  src/service-providers/campaign_monitor/ProviderSidebar.js
  src/service-providers/campaign_monitor/index.js
  src/service-providers/campaign_monitor/style.scss
  src/service-providers/index.js
Labels: [Status] Needs Review

#370 Fix crashing when loading the editor in code view
  src/newsletter-editor/styling/index.js
Labels: [Status] Approved

#375 Release – Nov. 17
  src/newsletter-editor/styling/index.js
Labels: [Status] Approved
