Repository Automattic/newspack-newsletters, pull requests merged in 2020-06, with the labels that each got.

#215 Prevent deduplication in layout picker preview
  src/editor/blocks/posts-inserter/index.js
Labels: [Status] Approved

#165 Add layouts management
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-layouts.php
  includes/class-newspack-newsletters.php
  includes/layouts/breaking-news.json
  includes/layouts/daily-weekly-no-image.json
  includes/layouts/daily-weekly.json
  includes/layouts/support.json
  newspack-newsletters-templates.php
  newspack-newsletters.php
  src/components/init-modal/index.js
  src/components/init-modal/screens/api-keys/index.js
  src/components/init-modal/screens/layout-picker/SingleLayoutPreview.js
  src/components/init-modal/screens/layout-picker/index.js
  src/components/init-modal/style.scss
  src/components/template-modal/screens/template-picker/index.js
  src/editor/blocks/posts-inserter/index.js
  src/editor/index.js
  src/newsletter-editor/index.js
  src/newsletter-editor/layout/index.js
  src/newsletter-editor/layout/style.scss
  src/templates/blank.json
  src/utils/consts.js
  src/utils/hooks.js
  src/utils/index.js
  webpack.config.js
Labels: [Status] Approved

#210 feat: font picker
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  src/components/select-control-with-optgroup/index.js
  src/editor/style.scss
  src/newsletter-editor/index.js
  src/newsletter-editor/typography/index.js
Labels: [Status] Approved

#218 Release 09/06/2020
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-layouts.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  includes/email-template.mjml.php
  includes/layouts/breaking-news.json
  includes/layouts/daily-weekly-no-image.json
  includes/layouts/daily-weekly.json
  includes/layouts/support.json
  newspack-newsletters-templates.php
  newspack-newsletters.php
  src/components/init-modal/index.js
  src/components/init-modal/screens/api-keys/index.js
  src/components/init-modal/screens/layout-picker/SingleLayoutPreview.js
  src/components/init-modal/screens/layout-picker/index.js
  src/components/init-modal/style.scss
  src/components/select-control-with-optgroup/index.js
  src/components/template-modal/screens/template-picker/index.js
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/style.scss
  src/editor/blocks/posts-inserter/utils.js
  src/editor/index.js
  src/editor/style.scss
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/index.js
  src/newsletter-editor/layout/index.js
  src/newsletter-editor/layout/style.scss
  src/newsletter-editor/typography/index.js
  src/templates/blank.json
  src/utils/consts.js
  src/utils/hooks.js
  src/utils/index.js
  webpack.config.js
Labels: [Status] Approved

#224 fix: raise list limit to maximum
  includes/class-newspack-newsletters.php
  src/service-providers/mailchimp/ProviderSidebar.js
Labels: [Status] Approved, bug

#222 Fix: image height on smaller screens
  includes/email-template.mjml.php
Labels: [Status] Approved

#223 Add background color setting
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  includes/email-template.mjml.php
  includes/layouts/breaking-news.json
  includes/layouts/daily-weekly-no-image.json
  includes/layouts/daily-weekly.json
  includes/layouts/support.json
  src/newsletter-editor/index.js
  src/newsletter-editor/styling/index.js
Labels: [Status] Approved

#226 Fix namespace use in register_rest_route
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#228 Release - June 17, 2020
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  includes/email-template.mjml.php
  includes/layouts/breaking-news.json
  includes/layouts/daily-weekly-no-image.json
  includes/layouts/daily-weekly.json
  includes/layouts/support.json
  src/newsletter-editor/index.js
  src/newsletter-editor/styling/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
Labels: [Status] Approved

#235 Handle column middle alignment
  includes/class-newspack-newsletters-renderer.php
  src/editor/blocks-validation/blocks-filters.js
Labels: [Status] Approved

#243 Fix Posts Inserter columns warning
  src/editor/blocks-validation/blocks-filters.js
Labels: [Status] Approved, bug

#240 Fix: apply custom styles even if styling tab in sidebar is closed
  src/newsletter-editor/index.js
  src/newsletter-editor/styling/index.js
Labels: [Status] Approved

#238 Add layout styling settings handling
  includes/class-newspack-newsletters-layouts.php
  includes/class-newspack-newsletters.php
  src/components/init-modal/screens/layout-picker/SingleLayoutPreview.js
  src/components/init-modal/screens/layout-picker/index.js
  src/components/newsletter-preview/index.js
  src/components/newsletter-preview/style.scss
  src/newsletter-editor/layout/index.js
Labels: [Status] Approved

#244 Add "sent" labels to dashboard and editor
  composer.lock
  includes/class-newspack-newsletters.php
  src/components/with-api-handler/index.js
  src/newsletter-editor/editor/index.js
Labels: [Status] Approved, enhancement

#245 Fix Posts Inserter flickering
  src/editor/blocks/posts-inserter/index.js
Labels: [Status] Approved

#247 Refactor/provider oop ivan demo
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  includes/service-providers/class-newspack-newsletters-service-provider-controller.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/interface-newspack-newsletters-wp-hookable.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-controller.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  src/service-providers/example/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
Labels: Mailchimp, Refactor, [Status] Approved

#233 Add self-serve ads
  includes/class-newspack-newsletters-ads.php
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/ads-admin/AdsManager/index.js
  src/ads-admin/AdsManager/style.scss
  src/ads-admin/editor/index.js
  src/ads-admin/index.js
  src/ads-admin/utils.js
  src/components/send-button/index.js
  src/editor/style.scss
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/editor/style.scss
  src/utils/consts.js
  webpack.config.js
Labels: [Status] Approved

#249 Release - June 30, 2020
  composer.lock
  includes/class-newspack-newsletters-ads.php
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-layouts.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  includes/service-providers/class-newspack-newsletters-service-provider-controller.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/interface-newspack-newsletters-wp-hookable.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-controller.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/ads-admin/AdsManager/index.js
  src/ads-admin/AdsManager/style.scss
  src/ads-admin/editor/index.js
  src/ads-admin/index.js
  src/ads-admin/utils.js
  src/components/init-modal/screens/layout-picker/SingleLayoutPreview.js
  src/components/init-modal/screens/layout-picker/index.js
  src/components/newsletter-preview/index.js
  src/components/newsletter-preview/style.scss
  src/components/send-button/index.js
  src/components/with-api-handler/index.js
  src/editor/blocks-validation/blocks-filters.js
  src/editor/blocks/posts-inserter/index.js
  src/editor/style.scss
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/editor/style.scss
  src/newsletter-editor/index.js
  src/newsletter-editor/layout/index.js
  src/newsletter-editor/styling/index.js
  src/service-providers/example/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/utils/consts.js
  webpack.config.js
Labels: [Status] Approved
