Repository Automattic/newspack-newsletters, pull requests merged in 2020-04, with the labels that each got.

#36 feat: placeholder text for no template or blank template
  src/components/template-modal/index.js
Labels: [Status] Approved

#28 Ensure attribute exists in renderer
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved

#30 feat: move MJML creds to plugin settings
  README.md
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-settings.php
Labels: [Status] Approved

#39 fix: increase mjml request timeout, handle errors
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved, bug

#40 Subject In Sidebar
  includes/class-newspack-newsletters.php
  src/editor/editor/style.scss
  src/editor/sidebar/index.js
  src/editor/sidebar/style.scss
Labels: [Status] Approved

#34 fix: send content to mailchimp immediately before sending campaign
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#46 Update settings description to match MJML api email
  includes/class-newspack-newsletters-settings.php
Labels: [Status] Approved

#43 fix: include vendor in release package
  .circleci/config.yml
  .gitignore
  package.json
Labels: [Status] Approved

#42 feat: update pre-check with notice and reorganize sidebar
  src/editor/blocks-validation/blocks-filters.js
  src/editor/pre-publish-slot/index.js
  src/editor/sidebar/index.js
  src/editor/sidebar/style.scss
  src/editor/utils.js
Labels: [Status] Approved

#15 Content validation: warn about nested groups
  src/editor/blocks-validation/blocks-filters.js
  src/editor/blocks-validation/nested-columns-detection.js
  src/editor/blocks-validation/nesting-detection.js
  src/editor/index.js
Labels: [Status] Approved

#44 Replace SVGs with PNG in social icons folder
  assets/facebook.png
  assets/facebook.svg
  assets/instagram.png
  assets/instagram.svg
  assets/linkedin.png
  assets/linkedin.svg
  assets/twitter.png
  assets/twitter.svg
  assets/wordpress.png
  assets/wordpress.svg
  assets/youtube.png
  assets/youtube.svg
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved

#50 Change logo size to medium
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#49 Fix modal content background and preview items since Gutenberg 7.9
  src/components/template-modal/style.scss
Labels: [Status] Approved

#56 Reorder the sidebar settings
  src/editor/sidebar/index.js
Labels: [Status] Approved

#54 Prevent modal closing after autosave
  src/editor/index.js
Labels: [Status] Approved

#61 Support Multiple Test Emails
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#60 Delete Mailchimp Campaign After Post Is Trashed
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#51 Mailchimp Groups
  composer.lock
  includes/class-newspack-newsletters.php
  src/editor/sidebar/index.js
Labels: Mailchimp, [Status] Approved

#47 Add Posts Inserter block
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  includes/email-template.mjml.php
  package-lock.json
  package.json
  src/editor/blocks/posts-inserter/icon.js
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/query-controls.js
  src/editor/blocks/posts-inserter/style.scss
  src/editor/blocks/posts-inserter/utils.js
  src/editor/index.js
Labels: [Status] Approved

#59 Add preview modal
  package-lock.json
  package.json
  src/editor/editor/index.js
  src/editor/index.js
  src/editor/post-status-slot/index.js
  src/editor/pre-publish-slot/index.js
  src/editor/sidebar/index.js
  src/editor/utils.js
Labels: [Status] Approved

#78 Post-Activation Banner
  includes/class-newspack-newsletters.php
  src/admin/index.js
  webpack.config.js
Labels: User Interface, [Status] Approved

#75 fix: move settings menu item to newspack newsletters menu
  includes/class-newspack-newsletters-settings.php
Labels: User Interface, [Status] Approved

#8 Remove any other editor modifications
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#77 feat: list management link
  src/editor/sidebar/index.js
Labels: Mailchimp, User Interface, [Status] Needs Review

#62 Fix button block alignment
  src/editor/editor/style.scss
Labels: [Status] Approved

#85 Fix missing import; remove EOL spaces
  includes/class-newspack-newsletters.php
  src/editor/sidebar/index.js
Labels: [Status] Approved

#84 Fix layout preview viewport width
  src/components/template-modal/index.js
  src/components/template-modal/style.scss
Labels: [Status] Approved

#83 Update post inserter placeholder style
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/style.scss
  src/editor/editor/style.scss
Labels: [Status] Approved

#74 API Key Modal
  includes/class-newspack-newsletters.php
  package.json
  src/components/template-modal/index.js
  src/components/template-modal/screens/api-keys/index.js
  src/components/template-modal/screens/template-picker/index.js
  src/components/template-modal/style.scss
  src/editor/index.js
  src/editor/sidebar/index.js
Labels: MJML, Mailchimp, User Interface, [Status] Approved

#86 fix: support for reusable blocks in newsletters
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#95 Simplify title of newsletter settings panel
  src/editor/index.js
Labels: Small PR, [Status] Approved

#90 fix: bring back groups ui
  src/editor/sidebar/index.js
  src/editor/utils.js
Labels: [Status] Approved

#98 Add Posts Inserter to modal and strip placeholder style
  src/components/template-modal/style.scss
  src/templates/daily-weekly.json
Labels: [Status] Approved

#99 Update posts inserter defaults
  src/editor/blocks/posts-inserter/index.js
Labels: [Status] Approved

#102 Add spacer block support
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#101 Fix initial setup errors
  includes/class-newspack-newsletters.php
  src/components/template-modal/screens/api-keys/index.js
  src/editor/editor/index.js
Labels: [Status] Approved

#96 Fix colors handling
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved

#105 feat: separate panel for test email ui
  src/editor/index.js
  src/editor/sidebar/index.js
  src/editor/testing/index.js
Labels: User Interface, [Status] Approved

#103 fix: remove data center prefix from mailchimp url
  src/editor/sidebar/index.js
Labels: [Status] Approved

#106 feat: sidebar ui to change template
  includes/class-newspack-newsletters.php
  src/editor/index.js
  src/editor/layout/index.js
  src/editor/layout/style.scss
Labels: [Status] Approved

#104 Test Email Notifications
  includes/class-newspack-newsletters.php
  src/components/with-api-handler/index.js
  src/editor/editor/index.js
  src/editor/sidebar/index.js
Labels: Error Handling, [Status] Approved

#107 Remove unused notice
  src/editor/sidebar/index.js
Labels: [Status] Approved

#79 Add email validation
  src/editor/sidebar/index.js
  src/editor/testing/index.js
  src/editor/utils.js
Labels: [Status] Approved

#108 Save post before previewing or sending test email
  src/editor/post-status-slot/index.js
  src/editor/testing/index.js
Labels: [Status] Approved

#110 Sidebar: store sender data in post meta
  src/editor/sidebar/index.js
Labels: [Status] Approved

#112 feat: error catching and notification for lists and groups
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#115 docs: tweak
  newspack-newsletters.php
Labels: [Status] Approved

#125 Fix link colour and text-decoration
  includes/email-template.mjml.php
Labels: [Status] Approved

#118 feat: error notifications for from name/email changes
  includes/class-newspack-newsletters.php
Labels: Error Handling, [Status] Approved

#124 fix: regression of test email error/success notifications
  src/components/with-api-handler/index.js
  src/editor/testing/index.js
Labels: [Status] Approved, bug

#119 fix: crash when editing 'from' fields
  src/editor/sidebar/index.js
Labels: [Status] Approved, bug

#121 feat: error handling in save and publish operations
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
Labels: Error Handling, [Status] Approved

#120 feat: error notifications when retrieving mailchimp data
  includes/class-newspack-newsletters.php
Labels: Error Handling, [Status] Approved

#123 feat: override publish button
  src/components/send-button/index.js
  src/editor/editor/index.js
  src/editor/editor/style.scss
  src/editor/index.js
  src/editor/pre-publish-slot/index.js
Labels: User Interface, [Status] Approved

#133 feat: improved permissions
  includes/class-newspack-newsletters.php
  src/components/template-modal/screens/api-keys/index.js
Labels: [Status] Approved

#134 feat: clearer error messages
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#131 Prevent updating content of a sent campaign
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#130 refactor: rework the blank template ui
  src/components/template-modal/screens/api-keys/index.js
  src/components/template-modal/screens/template-picker/index.js
  src/components/template-modal/style.scss
  src/editor/layout/index.js
Labels: User Interface, [Status] Approved

#135 feat: throw error for unverified reply-to email
  includes/class-newspack-newsletters.php
  src/components/with-api-handler/index.js
  src/editor/sidebar/index.js
  src/editor/sidebar/style.scss
Labels: Error Handling, [Status] Approved

#136 Remove custom preview button
  package-lock.json
  package.json
  src/editor/editor/style.scss
  src/editor/index.js
  src/editor/post-status-slot/index.js
Labels: [Status] Approved

#137 Add/posts inserter featured image pos
  includes/class-newspack-newsletters-renderer.php
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/utils.js
Labels: [Status] Approved

#127 Posts Inserter block - handle before insertion state
  includes/class-newspack-newsletters-renderer.php
  package-lock.json
  package.json
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/utils.js
Labels: [Status] Approved

#113 Set up beta releases
  package.json
Labels: [Status] Approved

#142 Update layouts
  src/templates/breaking-news-no-image.json
  src/templates/breaking-news.json
  src/templates/daily-weekly-no-image.json
  src/templates/daily-weekly.json
  src/templates/support.json
Labels: [Status] Approved

#141 Release 4/24/2020
  .circleci/config.yml
  .eslintrc.js
  .gitignore
  .stylelintrc
  LICENSE
  README.md
  assets/facebook.png
  assets/instagram.png
  assets/linkedin.png
  assets/twitter.png
  assets/wordpress.png
  assets/youtube.png
  commitlint.config.js
  composer.json
  composer.lock
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/email-template.mjml.php
  newspack-newsletters-templates.php
  newspack-newsletters.php
  package-lock.json
  package.json
  phpcs.xml
  src/admin/index.js
  src/components/send-button/index.js
  src/components/template-modal/index.js
  src/components/template-modal/screens/api-keys/index.js
  src/components/template-modal/screens/template-picker/index.js
  src/components/template-modal/style.scss
  src/components/with-api-handler/index.js
  src/editor/blocks-validation/blocks-filters.js
  src/editor/blocks-validation/nesting-detection.js
  src/editor/blocks/posts-inserter/icon.js
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/query-controls.js
  src/editor/blocks/posts-inserter/style.scss
  src/editor/blocks/posts-inserter/utils.js
  src/editor/editor/index.js
  src/editor/editor/style.scss
  src/editor/index.js
  src/editor/layout/index.js
  src/editor/layout/style.scss
  src/editor/sidebar/index.js
  src/editor/sidebar/style.scss
  src/editor/testing/index.js
  src/editor/utils.js
  src/templates/blank.json
  src/templates/breaking-news-no-image.json
  src/templates/breaking-news.json
  src/templates/daily-weekly-no-image.json
  src/templates/daily-weekly.json
  src/templates/support.json
  webpack.config.js
Labels: [Status] Approved

#151 Fix Posts Inserter infinite loop
  package-lock.json
  package.json
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/utils.js
Labels: [Status] Approved

#154 Remove wide alignment for group block
  src/editor/index.js
Labels: [Status] Approved

#152 Remove support for background gradients
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#161 feat: move testing panel above layout
  src/editor/index.js
Labels: Small PR, [Status] Approved

#159 fix: rename list->audience to reflect mailchimp
  src/editor/sidebar/index.js
Labels: Small PR, User Interface, [Status] Approved

#160 Release 4/27/2020
  includes/class-newspack-newsletters.php
  package-lock.json
  package.json
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/utils.js
  src/editor/index.js
  src/editor/sidebar/index.js
Labels: [Status] Approved

#149 Update editor and MJML style
  includes/class-newspack-newsletters-renderer.php
  includes/email-template.mjml.php
  src/editor/editor/style.scss
  src/editor/sidebar/style.scss
Labels: [Status] Approved

#174 Fix posts inserter no-insertion workflow
  src/editor/blocks/posts-inserter/index.js
Labels: [Status] Approved

#175 Fix newsletter layouts preview thumbnails
  src/components/template-modal/screens/template-picker/index.js
  src/components/template-modal/style.scss
  src/editor/layout/index.js
  src/editor/layout/style.scss
Labels: [Status] Approved

#167 Posts Inserter deduplication
  src/components/template-modal/screens/template-picker/index.js
  src/editor/blocks/posts-inserter/consts.js
  src/editor/blocks/posts-inserter/deduplication.js
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/utils.js
  src/editor/layout/index.js
Labels: [Status] Approved

#170 Enable selecting specific post ids
  package-lock.json
  package.json
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/query-controls.js
  src/editor/blocks/posts-inserter/style.scss
Labels: [Status] Approved

#180 Release 4/30/20
  .github/workflows/main.yml
  includes/class-newspack-newsletters-renderer.php
  includes/email-template.mjml.php
  package-lock.json
  package.json
  src/components/template-modal/screens/template-picker/index.js
  src/components/template-modal/style.scss
  src/editor/blocks/posts-inserter/consts.js
  src/editor/blocks/posts-inserter/deduplication.js
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/query-controls.js
  src/editor/blocks/posts-inserter/style.scss
  src/editor/blocks/posts-inserter/utils.js
  src/editor/editor/style.scss
  src/editor/layout/index.js
  src/editor/layout/style.scss
  src/editor/sidebar/style.scss
Labels: [Status] Approved
