Repository Automattic/newspack-newsletters, pull requests merged in 2020-05, with the labels that each got.

#178 Update general padding of newsletter to increase white space
  includes/class-newspack-newsletters-renderer.php
  includes/email-template.mjml.php
  src/components/template-modal/screens/template-picker/index.js
  src/components/template-modal/style.scss
  src/editor/blocks/posts-inserter/index.js
  src/editor/editor/style.scss
  src/editor/layout/index.js
  src/editor/sidebar/style.scss
Labels: [Status] Approved

#132 Abstract provider-specific code
  includes/class-newspack-newsletters.php
  src/components/send-button/index.js
  src/editor/editor/index.js
  src/editor/sidebar/index.js
  src/editor/testing/index.js
  src/editor/utils.js
  src/service-providers/example/index.js
  src/service-providers/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/mailchimp/index.js
Labels: [Status] Approved

#183 Prevent post flickering in template selection
  src/editor/layout/index.js
Labels: [Status] Approved

#181 Add pre-send confirmation
  src/components/send-button/index.js
  src/editor/editor/style.scss
  src/editor/layout/index.js
  src/editor/layout/style.scss
  src/service-providers/example/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/mailchimp/index.js
  src/service-providers/mailchimp/utils.js
Labels: [Status] Approved

#182 Update posts inserter preview margins
  src/components/template-modal/style.scss
  src/editor/blocks/posts-inserter/style.scss
  src/editor/editor/style.scss
Labels: [Status] Approved

#168 Fix custom column width issue
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved, question

#176 Handle color palette as it appears in the editor
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  src/editor/editor/index.js
Labels: [Status] Approved

#163 Pre layouts CRUD refactor
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters.php
  src/editor/index.js
  src/editor/style.scss
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/editor/style.scss
  src/newsletter-editor/index.js
  src/newsletter-editor/layout/index.js
  src/newsletter-editor/layout/style.scss
  src/newsletter-editor/sidebar/index.js
  src/newsletter-editor/sidebar/style.scss
  src/newsletter-editor/testing/index.js
  src/newsletter-editor/utils.js
  webpack.config.js
Labels: [Status] Approved

#189 fix: missing notice after campaign has been sent
  src/service-providers/mailchimp/ProviderSidebar.js
Labels: [Status] Approved, bug, regression

#187 fix: sticky text controls
  src/newsletter-editor/layout/index.js
Labels: [Status] Needs Review, bug

#192 Update default layouts
  newspack-newsletters-templates.php
  src/templates/breaking-news-no-image.json
  src/templates/breaking-news.json
  src/templates/daily-weekly-no-image.json
  src/templates/daily-weekly.json
  src/templates/support.json
Labels: [Status] Approved

#191 Prevent duplication after insertion in Posts Inserted block
  src/editor/blocks/posts-inserter/deduplication.js
  src/editor/blocks/posts-inserter/index.js
Labels: [Status] Approved

#194 Fix settings url in post-activation nag
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#197 Bring master up to date with release
  CHANGELOG.md
  newspack-newsletters.php
  package-lock.json
  package.json
Labels: [Status] Approved, [Status] Needs Review

#196 Release May 6, 2020
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#195 Update editor block paddings
  includes/class-newspack-newsletters-renderer.php
  includes/email-template.mjml.php
  src/components/template-modal/screens/template-picker/index.js
  src/components/template-modal/style.scss
  src/editor/blocks/posts-inserter/style.scss
  src/editor/style.scss
  src/newsletter-editor/layout/index.js
  src/newsletter-editor/layout/style.scss
Labels: [Status] Approved

#207 fix: when trashing post allow mailchimp api call to fail silently
  includes/class-newspack-newsletters.php
Labels: [Status] Approved, bug

#208 fix: situation that overwrote mc campaign id
  src/newsletter-editor/editor/index.js
Labels: [Status] Approved, bug

#209 fix: resolve excerpt length issue
  src/editor/blocks/posts-inserter/utils.js
Labels: [Status] Approved, bug

#212 Prevent empty featured image rendering
  src/editor/blocks/posts-inserter/utils.js
Labels: [Status] Approved
