Repository Automattic/newspack-newsletters, pull requests merged in 2020-08, with the labels that each got.

#276 Add preview text option
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  includes/email-template.mjml.php
  src/newsletter-editor/sidebar/index.js
  src/newsletter-editor/sidebar/style.scss
Labels: [Status] Approved

#283 Release Aug 04
  composer.json
  composer.lock
  includes/class-newspack-newsletters-ads.php
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  includes/email-template.mjml.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-controller.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  newspack-newsletters.php
  src/ads-admin/AdsManager/style.scss
  src/ads-admin/editor/index.js
  src/ads-admin/editor/style.scss
  src/newsletter-editor/sidebar/index.js
  src/newsletter-editor/sidebar/style.scss
  src/newsletter-editor/styling/index.js
  src/newsletter-editor/testing/index.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/constant_contact/index.js
  src/service-providers/index.js
Labels: [Status] Approved

#280 Build: change release zip structure
  .circleci/config.yml
  .distignore
  package.json
Labels: [Status] Approved

#287 Posts Inserter: add color, font size styling options
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/utils.js
Labels: [Status] Approved

#288 Release Aug 11
  .circleci/config.yml
  .distignore
  package.json
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/query-controls.js
  src/editor/blocks/posts-inserter/style.scss
  src/editor/blocks/posts-inserter/utils.js
Labels: [Status] Approved

#290 fix: group block background color
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved, bug, regression

#284 Add service provider picking
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/components/init-modal/index.js
  src/components/init-modal/screens/api-keys/index.js
  src/components/init-modal/style.scss
  src/newsletter-editor/index.js
  src/service-providers/index.js
Labels: [Status] Approved

#292 fix: use hex value for group background colors in default layouts
  includes/layouts/breaking-news.json
  includes/layouts/daily-weekly-no-image.json
  includes/layouts/daily-weekly.json
Labels: [Status] Approved

#291 Release Aug 12
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/layouts/breaking-news.json
  includes/layouts/daily-weekly-no-image.json
  includes/layouts/daily-weekly.json
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/components/init-modal/index.js
  src/components/init-modal/screens/api-keys/index.js
  src/components/init-modal/style.scss
  src/newsletter-editor/index.js
  src/service-providers/index.js
Labels: [Status] Approved

#272 feat: enable public newsletter posts
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/interface-newspack-newsletters-wp-hookable.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/components/send-button/index.js
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/index.js
  src/newsletter-editor/public/index.js
  src/newsletter-editor/public/style.scss
  src/newsletter-editor/sidebar/index.js
Labels: [Status] Approved

#297 Presend info bug fix
  src/service-providers/mailchimp/index.js
Labels: [Status] Approved

#301 Fix custom colors on buttons
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved

#299 fix: corrected flow after setting esp in modal
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/sidebar/index.js
Labels: [Status] Approved, bug

#306 Release 8/20/2020
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/interface-newspack-newsletters-wp-hookable.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/components/send-button/index.js
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/index.js
  src/newsletter-editor/public/index.js
  src/newsletter-editor/public/style.scss
  src/newsletter-editor/sidebar/index.js
  src/service-providers/mailchimp/index.js
Labels: [Status] Approved

#308 Reduce padding between elements in newsletter emails
  includes/class-newspack-newsletters-renderer.php
  includes/email-template.mjml.php
  src/editor/style.scss
Labels: [Status] Approved

#303 feat: update icon
  includes/class-newspack-newsletters.php
  newspack-newsletters.php
Labels: [Status] Approved, enhancement

#312 Release Aug 25
  .circleci/config.yml
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  includes/email-template.mjml.php
  newspack-newsletters.php
  src/editor/style.scss
Labels: [Status] Approved

#310 Fix modal margin and header height
  src/components/init-modal/style.scss
Labels: [Status] Approved, enhancement

#314 Remove Newspack UI from Ads Admin page
  includes/class-newspack-newsletters-ads.php
  includes/class-newspack-newsletters-editor.php
  package-lock.json
  package.json
  src/ads-admin/AdsManager/index.js
  src/ads-admin/AdsManager/style.scss
  src/ads-admin/index.js
  webpack.config.js
Labels: [Status] Approved

#315 Fix escaped domain
  includes/class-newspack-newsletters.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
Labels: [Status] Approved

#316 Add branding banner to the CPT wp-admin pages
  includes/class-newspack-newsletters.php
  src/branding/index.js
  src/branding/style.scss
  webpack.config.js
Labels: [Status] Approved

#319 feat: option to specify public newsletters slug
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
Labels: [Status] Approved
