Repository Automattic/newspack-newsletters, pull requests merged in 2021-07, with the labels that each got.

#486 Public newsletters – add bulk and quick edit option
  includes/class-newspack-newsletters-bulk-actions.php
  includes/class-newspack-newsletters-quick-edit.php
  includes/class-newspack-newsletters.php
  newspack-newsletters.php
  src/quick-edit/index.js
  webpack.config.js
Labels: [Status] Approved

#489 Persist user defined test emails as user meta
  includes/class-newspack-newsletters-editor.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor-controller.php
  includes/service-providers/class-newspack-newsletters-service-provider-controller.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-controller.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-controller.php
  src/newsletter-editor/index.js
  src/newsletter-editor/testing/index.js
Labels: [Status] Approved

#492 Fix: remove non-existent enqueued styles
  includes/class-newspack-newsletters-editor.php
Labels: [Status] Approved

#496 Add "manual" provider for email markup copy
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  src/components/copy-html/index.js
  src/components/copy-html/style.scss
  src/components/init-modal/screens/api-keys/index.js
  src/components/send-button/index.js
  src/components/send-button/style.scss
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/index.js
  src/newsletter-editor/sidebar/index.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/example/index.js
  src/service-providers/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/manual/index.js
Labels: [Status] Approved

#498 fix: change allowed_block_types filter name
  includes/class-newspack-newsletters-editor.php
Labels: [Status] Approved, [Status] Needs Changes or Feedback

#504 fix(wp-5.8): ensure string for displayTransform
  src/editor/blocks/posts-inserter/query-controls.js
Labels: [Status] Approved

#505 Fix: sync instead of erroring for missing campaign id
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved

#507 fix: ensure post object for syncs
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved, bug

#515 Update tested WP version
  readme.txt
Labels: [Status] Approved

#521 Fix: include format assets editor
  includes/class-newspack-newsletters-editor.php
Labels: [Status] Approved

#518 feat/share block
  .circleci/config.yml
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  package-lock.json
  package.json
  src/components/with-api-handler/index.js
  src/editor/blocks/share/consts.js
  src/editor/blocks/share/edit.js
  src/editor/blocks/share/index.js
  src/editor/blocks/share/save.js
  src/editor/blocks/share/style.scss
  src/editor/index.js
Labels: [Status] Approved

#519 Fix: refactor constant contact provider
  composer.json
  composer.lock
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-controller.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  newspack-newsletters.php
  src/components/init-modal/screens/api-keys/index.js
  src/newsletter-editor/index.js
  src/newsletter-editor/sidebar/index.js
  src/newsletter-editor/testing/index.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/constant_contact/index.js
  src/service-providers/example/index.js
Labels: Constant Contact, [Status] Approved

#531 fix: add campaign monitor to readme
  readme.txt
Labels: [Status] Approved

#530 feat: subtitle support for post inserter
  src/editor/blocks/posts-inserter/block.json
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/utils.js
Labels: [Status] Approved
