Repository Automattic/newspack-newsletters, pull requests merged in 2021-11, with the labels that each got.

#603 fix: allow social-link inner block
  includes/class-newspack-newsletters-editor.php
Labels: [Status] Approved

#610 chore: fix circleci build
  .circleci/config.yml
Labels: [Status] Approved

#612 chore(ci): ensure packages are updated before installing
  .circleci/config.yml
Labels: [Status] Approved

#617 feat: allow custom hooks in the email editor
  includes/class-newspack-newsletters-editor.php
Labels: [Status] Approved

#597 fix: change MC API key option name
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved, [Status] Needs Changes or Feedback

#609 Fix/non public newsletters in search results new
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#621 Release Nov 18
  .circleci/config.yml
  CHANGELOG.md
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  package-lock.json
  package.json
Labels: [Status] Approved

#622 Fix/public newsletter queries
  includes/class-newspack-newsletters.php
  tests/test-public.php
  tests/test-renderer.php
Labels: [Status] Approved

#625 chore: update dependencies
  .eslintrc.js
  .github/dependabot.yml
  .nvmrc
  .stylelintrc
  package-lock.json
  package.json
  postcss.config.js
  src/components/init-modal/screens/api-keys/index.js
  src/components/init-modal/screens/layout-picker/index.js
  src/components/send-button/index.js
  src/editor/blocks-validation/nesting-detection.js
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/query-controls.js
  src/editor/blocks/share/edit.js
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/index.js
  src/newsletter-editor/layout/index.js
  src/newsletter-editor/styling/index.js
  src/quick-edit/index.js
  src/service-providers/campaign_monitor/ProviderSidebar.js
  src/service-providers/campaign_monitor/index.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/example/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/manual/index.js
  src/utils/hooks.js
Labels: [Status] Approved, dependencies

#635 Release Nov 30
  .eslintrc.js
  .github/dependabot.yml
  .nvmrc
  .stylelintrc
  CHANGELOG.md
  includes/class-newspack-newsletters.php
  newspack-newsletters.php
  package-lock.json
  package.json
  postcss.config.js
  src/components/init-modal/screens/api-keys/index.js
  src/components/init-modal/screens/layout-picker/index.js
  src/components/send-button/index.js
  src/editor/blocks-validation/nesting-detection.js
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/query-controls.js
  src/editor/blocks/share/edit.js
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/index.js
  src/newsletter-editor/layout/index.js
  src/newsletter-editor/styling/index.js
  src/quick-edit/index.js
  src/service-providers/campaign_monitor/ProviderSidebar.js
  src/service-providers/campaign_monitor/index.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/example/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/manual/index.js
  src/utils/hooks.js
  tests/test-public.php
  tests/test-renderer.php
Labels: [Status] Approved
