Repository Automattic/newspack-newsletters, pull requests merged in 2021-12, with the labels that each got.

#399 Adds a basic Letterhead advertising integration 👋
  README.md
  composer.lock
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/service-providers/letterhead/class-newspack-newsletters-letterhead.php
  includes/service-providers/letterhead/dtos/class-newspack-newsletters-letterhead-promotion-dto.php
  includes/service-providers/letterhead/models/class-newspack-newsletters-letterhead-promotion.php
  newspack-newsletters.php
  src/components/send-button/index.js
Labels: [Status] Needs Changes or Feedback, Third Party Integration

#643 Move styling settings to its own sidebar
  src/newsletter-editor/index.js
  src/newsletter-editor/styling/index.js
  src/newsletter-editor/styling/style.scss
Labels: [Status] Approved

#648 Release Dec 14
  CHANGELOG.md
  README.md
  composer.lock
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/service-providers/letterhead/class-newspack-newsletters-letterhead.php
  includes/service-providers/letterhead/dtos/class-newspack-newsletters-letterhead-promotion-dto.php
  includes/service-providers/letterhead/models/class-newspack-newsletters-letterhead-promotion.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/components/send-button/index.js
Labels: [Status] Approved

#650 fix: editor script data
  includes/class-newspack-newsletters-editor.php
  src/service-providers/index.js
Labels: bug, [Status] Approved

#644 Update vertical rhythm and various blocks to match sent email
  includes/class-newspack-newsletters-renderer.php
  includes/email-template-mjml.css
  src/editor/style.scss
  tests/test-renderer.php
Labels: [Status] Approved
