Repository Automattic/newspack-newsletters, pull requests merged in 2021-03, with the labels that each got.

#405 Update WordPress.org assets and compress social icon images
  assets/facebook.png
  assets/instagram.png
  assets/linkedin.png
  assets/twitter.png
  assets/wordpress.png
  assets/youtube.png
  wporg-assets/banner-1544x500.png
  wporg-assets/banner-772x250.png
  wporg-assets/icon-128x128.png
  wporg-assets/icon-256x256.png
  wporg-assets/icon.svg
  wporg-assets/screenshot-1.png
  wporg-assets/screenshot-2.png
Labels: [Status] Approved

#410 Prevent draft ads insertion
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Needs Review

#412 Release Mar 02
  assets/facebook.png
  assets/instagram.png
  assets/linkedin.png
  assets/twitter.png
  assets/wordpress.png
  assets/youtube.png
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-settings.php
  wporg-assets/banner-1544x500.png
  wporg-assets/banner-772x250.png
  wporg-assets/icon-128x128.png
  wporg-assets/icon-256x256.png
  wporg-assets/icon.svg
  wporg-assets/screenshot-1.png
  wporg-assets/screenshot-2.png
Labels: [Status] Approved

#415 Fix theme colors in editor
  includes/class-newspack-newsletters-editor.php
  src/newsletter-editor/editor/index.js
Labels: [Status] Approved

#418 Fix: colors of headings with links; top block space in editor
  includes/email-template.mjml.php
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/editor/style.scss
Labels: [Status] Approved

#406 fix: only show public newsletters on CPT archive pages
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
Labels: [Status] Approved, bug, regression

#420 feat: add revisions support for newsletter CPTs
  includes/class-newspack-newsletters.php
Labels: [Status] Approved, enhancement

#422 Release Mar 16
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/email-template.mjml.php
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/editor/style.scss
Labels: [Status] Approved

#425 feat: featured images and pre_get_posts refactor
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#429 Release Mar 23
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved

#428 fix: respect excerpt length setting while not messing up site excerpts
  includes/class-newspack-newsletters-editor.php
  src/editor/blocks/posts-inserter/index.js
Labels: [Status] Approved

#433 feat: add support for excerpts for newsletter CPTs
  includes/class-newspack-newsletters.php
Labels: [Status] Approved, enhancement
