Repository Automattic/newspack-newsletters, pull requests merged in 2021-01, with the labels that each got.

#389 fix: longer timeout for test send
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved

#390 fix: alignment for elements using textAlign
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved, bug, regression

#392 Release Jan 12
  includes/class-newspack-newsletters-renderer.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved

#393 feat: add support for homepage posts block
  includes/class-newspack-newsletters.php
Labels: Public Posts, [Status] Approved

#396 Release Jan 19
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#398 feat: make Newsletters use post categories + tags
  includes/class-newspack-newsletters.php
  src/components/send-button/index.js
Labels: [Status] Approved

#402 Release Jan 28
  includes/class-newspack-newsletters.php
  src/components/send-button/index.js
Labels: [Status] Approved
