Repository Automattic/newspack-newsletters, pull requests merged in 2021-04, with the labels that each got.

#439 CI: WPORG releases
  .circleci/config.yml
Labels: [Status] Approved

#442 Release Apr 06
  .circleci/config.yml
Labels: [Status] Approved

#441 fix: avoid potentially undefined nested property
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/mailchimp/index.js
Labels: [Status] Approved, bug

#444 fix (posts inserter): display authors attribute
  includes/class-newspack-newsletters-editor.php
  src/editor/blocks/posts-inserter/utils.js
Labels: [Status] Approved, bug

#443 Use MJML in the browser
  README.md
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  package-lock.json
  package.json
  readme.txt
  src/components/init-modal/screens/api-keys/index.js
  src/newsletter-editor/editor/index.js
Labels: MJML, [Status] Needs Review

#447 fix: minor bugfixes
  includes/class-newspack-newsletters-renderer.php
  src/editor/blocks/posts-inserter/query-controls.js
  src/editor/blocks/posts-inserter/utils.js
Labels: [Status] Approved, bug

#450 Handle reusable blocks
  includes/class-newspack-newsletters-renderer.php
  tests/test-renderer.php
Labels: [Status] Approved

#454 feat: custom CSS
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  includes/email-template-mjml.css
  includes/email-template.mjml.php
  package-lock.json
  package.json
  src/newsletter-editor/styling/index.js
  src/newsletter-editor/styling/style.scss
  tests/test-renderer.php
Labels: Feature Request, [Status] Approved, enhancement
