Repository Automattic/newspack-newsletters, pull requests merged in 2022-11, with the labels that each got.

#998 fix(constant-contact): validate access token fetch response
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
Labels: [Status] Approved

#1000 fix: lists and list item blocks in WP 6.1
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  tests/test-controlled-statuses.php
  tests/test-renderer.php
Labels: bug, [Status] Approved

#1002 fix(ci): update newspack-scripts to fix CI builds
  package-lock.json
  package.json
Labels: [Status] Approved

#1004 fix(ci): update newspack-scripts to fix CI builds
  CHANGELOG.md
  newspack-newsletters.php
  package-lock.json
  package.json
Labels: [Status] Needs Review

#1009 chore: update CircleCI orb
  .circleci/config.yml
Labels: [Status] Needs Review

#1011 merge master into epic/tags-support
  .circleci/config.yml
  package-lock.json
  package.json
Labels: [Status] Approved

#1007 feat: bootstrapping lists CPT
  composer.json
  includes/class-newspack-newsletters.php
  includes/class-subscription-lists.php
  newspack-newsletters.php
Labels: [Status] Approved

#1014 fix: update CI orb newspack-scripts
  .circleci/config.yml
  package-lock.json
  package.json
Labels: [Status] Approved

#1019 Tags support/add provider attributes
  includes/class-subscription-lists.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  tests/test-labels.php
Labels: [Status] Approved

#1016 fix: nested list items and quote blocks in email
  includes/class-newspack-newsletters-renderer.php
Labels: bug, [Status] Approved

#1029 Tags support integrate local lists
  includes/class-newspack-newsletters-subscription.php
  includes/class-subscription-list.php
  includes/class-subscription-lists.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  tests/bootstrap.php
  tests/test-subscription-list.php
  tests/test-subscription-lists.php
  tests/trait-lists-setup.php
Labels: [Status] Approved

#1037 Release Nov 28
  .circleci/config.yml
  CHANGELOG.md
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  newspack-newsletters.php
  package-lock.json
  package.json
Labels: [Status] Approved

#1036 fix(ActiveCampaign): update fields API version
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
Labels: [Status] Approved

#1038 fix: attribute types in posts inserter block.json
  src/editor/blocks/posts-inserter/block.json
Labels: bug, [Status] Approved

#1035 Disable local lists edits from selection
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters-subscription.php
  includes/class-subscription-list.php
Labels: [Status] Approved
