Repository Automattic/newspack-newsletters, pull requests merged in 2022-08, with the labels that each got.

#903 feat: manage mailchimp subscription
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved, Reader Activation

#902 feat: filter contact lists and small fixes
  includes/class-newspack-newsletters-subscription.php
Labels: [Status] Approved, Reader Activation

#904 fix(subscribe-block): empty lists config handling
  src/blocks/subscribe/index.php
Labels: [Status] Approved

#907 fix: updating a list member
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved, Reader Activation

#909 feat: pass existing contact data to the add_contact hooks
  includes/class-newspack-newsletters-subscription.php
Labels: [Status] Approved, Reader Activation

#913 fix: urlencode email addresses passed as URL params to ActiveCampaign API
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
Labels: bug, [Status] Approved, Reader Activation

#912 feat: return all contact data for the add_contact hooks
  includes/class-newspack-newsletters-subscription.php
Labels: [Status] Approved, Reader Activation

#914 fix(active-campaign): format date fields
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
Labels: [Status] Approved, Reader Activation

#915 feat(active-campaign): more date fields
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
Labels: [Status] Approved, Reader Activation

#894 chore(deps): update newspack-scripts, prettier
  .prettierrc
  package-lock.json
  package.json
  src/blocks/subscribe/editor.scss
  src/components/init-modal/style.scss
  src/editor/blocks/mailchimp-merge-tags/style.scss
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/style.scss
  src/editor/blocks/visibility-attribute/style.scss
  src/editor/style.scss
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/layout/style.scss
  src/newsletter-editor/sidebar/style.scss
  src/newsletter-editor/styling/style.scss
Labels: [Status] Approved

#916 feat: copy tweak
  includes/class-newspack-newsletters-subscription.php
Labels: [Status] Approved, Reader Activation

#922 fix(subscriptions): verify email on reader verification
  includes/class-newspack-newsletters-subscription.php
Labels: [Status] Approved, Reader Activation

#925 fix(activecampaign): resubscribe on adding contact
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
Labels: [Status] Approved, Reader Activation

#927 feat: use Reader Activation custom sender info for verification emails
  includes/class-newspack-newsletters-subscription.php
Labels: enhancement, [Status] Approved

#926 feat(ActiveCampaign): optimize and reduce API requests
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
Labels: [Status] Approved, Reader Activation

#932 feat: honeypot field for Subscribe block form
  src/blocks/subscribe/index.php
  src/blocks/subscribe/style.scss
  src/blocks/subscribe/view.js
Labels: enhancement, [Status] Approved

#933 fix: ensure main query post type is an array
  includes/class-newspack-newsletters.php
Labels: bug, [Status] Approved

#934 Release Aug 16
  .prettierrc
  includes/class-newspack-newsletters-logger.php
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/blocks/subscribe/editor.scss
  src/blocks/subscribe/index.php
  src/components/init-modal/style.scss
  src/editor/blocks/mailchimp-merge-tags/style.scss
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/style.scss
  src/editor/blocks/visibility-attribute/style.scss
  src/editor/style.scss
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/layout/style.scss
  src/newsletter-editor/sidebar/style.scss
  src/newsletter-editor/styling/style.scss
  src/subscriptions/index.js
  src/subscriptions/style.scss
  webpack.config.js
Labels: [Status] Approved

#929 feat: delete contact on reader account deletion
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved, Reader Activation

#936 style: red button for Subscribe block form
  src/blocks/subscribe/style.scss
Labels: [Status] Needs Review, [Status] Needs Design Review

#935 feat: handle reCAPTCHA on Subscribe form
  src/blocks/subscribe/index.php
  src/blocks/subscribe/style.scss
  src/blocks/subscribe/view.js
Labels: enhancement, [Status] Approved

#937 fix: tweak Subscribe form styles and behavior
  src/blocks/subscribe/style.scss
  src/blocks/subscribe/view.js
Labels: bug, enhancement, [Status] Approved

#938 feat: handle updated from & name settings from Newspack plugin
  includes/class-newspack-newsletters-subscription.php
Labels: [Status] Approved, Reader Activation

#942 fix: only process links with valid url
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved
