Repository Automattic/newspack-newsletters, pull requests merged in 2022-03, with the labels that each got.

#760 Release Mar 08
  CHANGELOG.md
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/editor/style.scss
  src/newsletter-editor/sidebar/index.js
  src/service-providers/campaign_monitor/ProviderSidebar.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/example/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/manual/index.js
Labels: [Status] Approved

#761 fix: bad post-release merge
  CHANGELOG.md
  newspack-newsletters.php
  package-lock.json
  package.json
Labels: bug, [Status] Approved

#757 fix: color palette css rules
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/email-template.mjml.php
Labels: [Status] Approved

#766 feat: allow theme customization
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/email-template.mjml.php
Labels: [Status] Approved

#771 Release Mar 22
  .circleci/config.yml
  CHANGELOG.md
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/email-template.mjml.php
  newspack-newsletters.php
  package-lock.json
  package.json
Labels: [Status] Approved

#764 feat: minify and notify clipable email body
  src/components/with-api-handler/index.js
  src/editor/api/index.js
  src/newsletter-editor/editor/index.js
Labels: [Status] Approved

#772 fix: disable row group block variation
  src/editor/index.js
Labels: [Status] Approved

#773 fix: move subject back to the sidebar
  includes/class-newspack-newsletters-editor.php
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/editor/style.scss
  src/newsletter-editor/sidebar/index.js
  src/service-providers/campaign_monitor/ProviderSidebar.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/example/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/manual/index.js
Labels: [Status] Needs Review
