Repository Automattic/newspack-newsletters, pull requests merged in 2022-01, with the labels that each got.

#656 chore(deps): implement dependabot auto-merge
  .github/workflows/auto-merge.yml
Labels: [Status] Approved, dependencies

#655 Reorganise sidebar
  src/newsletter-editor/public/index.js
  src/newsletter-editor/public/style.scss
  src/newsletter-editor/sidebar/index.js
  src/newsletter-editor/sidebar/style.scss
  src/service-providers/campaign_monitor/ProviderSidebar.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/example/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/manual/index.js
  src/service-providers/manual/style.scss
Labels: [Status] Approved

#671 Release Jan 04
  CHANGELOG.md
  composer.lock
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/email-template-mjml.css
  newspack-newsletters.php
  package-lock.json
  package.json
  src/editor/style.scss
  src/newsletter-editor/index.js
  src/newsletter-editor/styling/index.js
  src/newsletter-editor/styling/style.scss
  src/service-providers/index.js
  tests/test-renderer.php
Labels: [Status] Approved

#685 Fix/iframed previews
  includes/layouts/breaking-news.json
  src/components/init-modal/style.scss
  src/components/newsletter-preview/style.scss
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/posts-preview.js
  src/editor/blocks/posts-inserter/style.scss
  src/newsletter-editor/layout/style.scss
Labels: [Status] Approved, wp 5.9

#673 chore: add CODEOWNERS file
  .github/CODEOWNERS
Labels: [Status] Approved

#688 fix: append layout preview css to iframe head
  src/components/init-modal/screens/layout-picker/SingleLayoutPreview.js
  src/components/init-modal/screens/layout-picker/index.js
  src/components/init-modal/style.scss
  src/components/newsletter-preview/index.js
  src/components/newsletter-preview/style.scss
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/posts-preview.js
  src/newsletter-editor/layout/index.js
  src/newsletter-editor/styling/index.js
Labels: [Status] Approved, wp 5.9

#696 fix(post-inserter): preview ref hook on top level component
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/posts-preview.js
Labels: bug, [Status] Approved

#697 fix: php warning when converting non-string attributes to mjml
  includes/class-newspack-newsletters-renderer.php
Labels: bug, [Status] Approved

#699 Release Jan 18
  .github/CODEOWNERS
  .github/workflows/auto-merge.yml
  CHANGELOG.md
  composer.lock
  includes/class-newspack-newsletters-renderer.php
  includes/layouts/breaking-news.json
  newspack-newsletters.php
  package-lock.json
  package.json
  src/components/init-modal/screens/layout-picker/SingleLayoutPreview.js
  src/components/init-modal/screens/layout-picker/index.js
  src/components/init-modal/style.scss
  src/components/newsletter-preview/index.js
  src/components/newsletter-preview/style.scss
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/posts-preview.js
  src/editor/blocks/posts-inserter/style.scss
  src/newsletter-editor/layout/index.js
  src/newsletter-editor/layout/style.scss
  src/newsletter-editor/public/index.js
  src/newsletter-editor/public/style.scss
  src/newsletter-editor/sidebar/index.js
  src/newsletter-editor/sidebar/style.scss
  src/newsletter-editor/styling/index.js
  src/service-providers/campaign_monitor/ProviderSidebar.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/example/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/manual/index.js
  src/service-providers/manual/style.scss
Labels: [Status] Approved

#701 chore: use newspack-scripts
  .circleci/config.yml
  .eslintrc.js
  .stylelintrc
  babel.config.js
  commitlint.config.js
  composer.json
  package-lock.json
  package.json
  src/components/autocomplete-tokenfield/autocomplete-tokenfield.scss
  src/components/autocomplete-tokenfield/index.js
  src/components/send-button/index.js
  src/editor/blocks/posts-inserter/query-controls.js
  src/editor/blocks/posts-inserter/utils.js
  src/editor/blocks/visibility-attribute/index.js
  src/newsletter-editor/styling/index.js
  src/newsletter-editor/testing/index.js
  src/newsletter-editor/utils.js
  src/quick-edit/index.js
  src/service-providers/campaign_monitor/ProviderSidebar.js
  src/service-providers/campaign_monitor/index.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/constant_contact/index.js
  src/service-providers/example/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/mailchimp/index.js
  src/service-providers/mailchimp/utils.js
  src/service-providers/manual/index.js
  webpack.config.js
Labels: [Status] Approved

#680 Update merge tags style
  src/editor/blocks/mailchimp-merge-tags/index.js
  src/editor/blocks/mailchimp-merge-tags/style.scss
Labels: [Status] Approved

#694 Add new keys to settings list
  includes/class-newspack-newsletters-settings.php
Labels: [Status] Approved

#708 fix: require postcss explicitly
  package-lock.json
  package.json
Labels: [Status] Approved
