Repository Automattic/newspack-newsletters, pull requests merged in 2022-07, with the labels that each got.

#873 feat: subscription lists and subscription block
  includes/class-newspack-newsletters-blocks.php
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters-subscription.php
  includes/class-newspack-newsletters.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  src/blocks/index.js
  src/blocks/subscribe/block.json
  src/blocks/subscribe/edit.js
  src/blocks/subscribe/editor.scss
  src/blocks/subscribe/index.js
  src/blocks/subscribe/index.php
  src/blocks/subscribe/style.scss
  src/blocks/subscribe/view.js
  webpack.config.js
Labels: [Status] Approved

#886 fix(activecampaign): paginate through segments (alpha)
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
Labels: [Status] Needs Review

#887 Release Jul 11
  CHANGELOG.md
  includes/class-newspack-newsletters.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign-controller.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/service-providers/active_campaign/ProviderSidebar.js
  src/service-providers/active_campaign/index.js
Labels: [Status] Approved

#892 feat(subscribe-block): prefill email input
  src/blocks/subscribe/index.php
Labels: [Status] Approved

#891 feat: email verification and subscription management
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  src/subscriptions/index.js
  src/subscriptions/style.scss
  webpack.config.js
Labels: [Status] Approved

#898 Release Jul 25
  CHANGELOG.md
  includes/class-newspack-newsletters-blocks.php
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters-subscription.php
  includes/class-newspack-newsletters.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/blocks/index.js
  src/blocks/subscribe/block.json
  src/blocks/subscribe/edit.js
  src/blocks/subscribe/editor.scss
  src/blocks/subscribe/index.js
  src/blocks/subscribe/index.php
  src/blocks/subscribe/style.scss
  src/blocks/subscribe/view.js
  webpack.config.js
Labels: [Status] Approved

#897 Feat/contact add filter
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/blocks/subscribe/index.php
Labels: [Status] Approved

#900 feat: enable contact adding w/out lists, as opposed to w/ empty lists
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved, Reader Activation

#899 chore: logging
  includes/class-newspack-newsletters-logger.php
  includes/class-newspack-newsletters-subscription.php
  newspack-newsletters.php
Labels: [Status] Approved

#901 feat: full contact data fetching
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
Labels: [Status] Approved, Reader Activation
