Repository Automattic/newspack-newsletters, pull requests merged in 2022-09, with the labels that each got.

#945 fix(ActiveCampaign): handle error on test campaign
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
Labels: [Status] Approved

#946 chore: remove deprecated add_contact method of Newspack_Newsletters
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#943 feat: give each subscribe form a unique ID
  src/blocks/subscribe/index.php
Labels: enhancement, [Status] Approved

#951 style: fix vertical misalignment of submit button
  src/blocks/subscribe/style.scss
Labels: [Status] Approved

#949 fix: adding contact w/out lists handling
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/letterhead/class-newspack-newsletters-letterhead.php
Labels: [Status] Approved, Reader Activation

#954 Release Sep 14
  CHANGELOG.md
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-subscription.php
  includes/class-newspack-newsletters.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/blocks/subscribe/index.php
  src/blocks/subscribe/style.scss
  src/blocks/subscribe/view.js
Labels: [Status] Approved

#955 test: update tests dependencies
  composer.json
  composer.lock
  phpunit.xml.dist
  tests/bootstrap.php
Labels: [Status] Approved

#948 fix(constant-contact): update api for oauth2
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
Labels: [Status] Approved

#965 feat(subscribe-block): button text color
  src/blocks/subscribe/style.scss
Labels: [Status] Approved

#967 feat(post-inserter): post type selection
  src/editor/blocks/posts-inserter/block.json
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/query-controls.js
Labels: [Status] Approved

#956 fix(active-campaign): ensure all metadata fields are handled
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
Labels: [Status] Approved, Reader Activation

#972 Release Sep 27
  CHANGELOG.md
  composer.json
  composer.lock
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/letterhead/class-newspack-newsletters-letterhead.php
  newspack-newsletters.php
  package-lock.json
  package.json
  phpunit.xml.dist
  src/blocks/subscribe/style.scss
  src/editor/blocks/posts-inserter/block.json
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/query-controls.js
  tests/bootstrap.php
Labels: [Status] Approved

#966 test: Upgrade to php 8
  .circleci/config.yml
  composer.json
  composer.lock
  tests/test-controlled-statuses.php
  tests/test-renderer.php
Labels: [Status] Approved
