Repository Automattic/newspack-newsletters, pull requests merged in 2023-06, with the labels that each got.

#1185 fix: remove important flag from font size rules
  includes/class-newspack-newsletters-editor.php
  src/editor/style.scss
Labels: [Status] Approved

#1184 feat(subscribe-form): improve success message
  src/blocks/subscribe/edit.js
  src/blocks/subscribe/editor.scss
  src/blocks/subscribe/index.php
  src/blocks/subscribe/style.scss
  src/blocks/subscribe/view.js
Labels: [Status] Approved

#1196 Newsletter Block: add a width to the email inputs to prevent overflow
  src/blocks/subscribe/style.scss
Labels: [Status] Approved

#1197 fix: allow public newsletters in author archives
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#1198 Plugin header
  newspack-newsletters.php
Labels: Small PR

#1201 Release Jun 19
  CHANGELOG.md
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/blocks/subscribe/edit.js
  src/blocks/subscribe/editor.scss
  src/blocks/subscribe/index.php
  src/blocks/subscribe/style.scss
  src/blocks/subscribe/view.js
  src/editor/style.scss
Labels: [Status] Approved

#1202 fix(subscribe-block): allow spaces in submit button
  src/blocks/subscribe/edit.js
  src/blocks/subscribe/editor.scss
  src/blocks/subscribe/style.scss
Labels: bug, [Status] Approved
