Repository Automattic/newspack-newsletters, pull requests merged in 2023-11, with the labels that each got.

#1337 fix: active ad start/end date check
  includes/class-newspack-newsletters-ads.php
  tests/test-newsletter-ads.php
Labels: [Status] Approved

#1331 feat: mailchimp usage data report
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-groups.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-usage-reports.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  tests/test-usage-reports.php
Labels: [Status] Approved

#1340 fix: restrict conditional content to newsletters
  includes/class-newspack-newsletters-editor.php
Labels: [Status] Approved

#1335 fix: add margin to lists and list style position
  includes/email-template-mjml.css
Labels: [Status] Approved

#1341 fix(tracking): don't flush options cache on log processing
  includes/tracking/class-pixel.php
Labels: [Status] Approved

#1351 Release Nov 13
  includes/class-newspack-newsletters-editor.php
  includes/email-template-mjml.css
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-groups.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-usage-reports.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/components/init-modal/screens/layout-picker/index.js
  src/components/init-modal/style.scss
  tests/test-usage-reports.php
Labels: [Status] Approved

#1352 feat: add editorconfig file
  .editorconfig
Labels: [Status] Approved

#1344 feat(subscription): support async `add_contact()`
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  src/blocks/subscribe/index.php
Labels: [Status] Approved

#1349 feat: change usage report signature
  includes/service-providers/class-newspack-newsletters-service-provider-usage-report.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-usage-reports.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  tests/test-usage-reports.php
Labels: [Status] Approved

#1354 test: fix tests when running locally
  .gitignore
  bin/install-wp-tests.sh
  composer.json
  composer.lock
Labels: [Status] Approved

#1355 fix(ras): contact syncing to mailchimp
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: bug, [Status] Approved

#1346 feat: add campaign monitor usage report
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor-usage-reports.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  newspack-newsletters.php
Labels: [Status] Approved

#1353 fix: add layout styles to newsletter
  src/components/init-modal/screens/layout-picker/index.js
Labels: [Status] Approved

#1360 fix(editor): ensure localized variables while editing patterns
  includes/class-newspack-newsletters-editor.php
Labels: [Status] Approved

#1338 feat: active-campaigns data report
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign-usage-reports.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/class-newspack-newsletters-service-provider-usage-report.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-usage-reports.php
  newspack-newsletters.php
  phpunit.xml.dist
  tests/test-active-campaign-usage-report.php
  tests/test-labels.php
Labels: [Status] Approved

#1364 Release Nov 27
  .editorconfig
  .gitignore
  CHANGELOG.md
  bin/install-wp-tests.sh
  composer.json
  composer.lock
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/class-newspack-newsletters-service-provider-usage-report.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-usage-reports.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/blocks/subscribe/index.php
  src/components/init-modal/screens/layout-picker/index.js
  tests/test-usage-reports.php
Labels: [Status] Needs Review
