Repository Automattic/newspack-newsletters, pull requests merged in 2023-09, with the labels that each got.

#1261 feat: Newspack Sponsors integration
  includes/class-newspack-newsletters-editor.php
  src/editor/blocks/posts-inserter/block.json
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/query-controls.js
  src/editor/blocks/posts-inserter/utils.js
Labels: [Status] Approved

#1249 feat: ad placeholder block
  includes/class-newspack-newsletters-ads.php
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  src/ads/newsletter-editor/index.js
  src/editor/blocks/ad/block.json
  src/editor/blocks/ad/edit.js
  src/editor/blocks/ad/editor.scss
  src/editor/blocks/ad/index.js
  src/editor/index.js
Labels: [Status] Approved

#1262 feat: ads taxonomies and fields
  includes/class-newspack-newsletters-ads.php
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  includes/tracking/class-admin.php
  src/ads/editor/index.js
Labels: [Status] Approved

#1269 feat: custom campaign name
  includes/class-newspack-newsletters.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/editor/api/index.js
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/sidebar/index.js
  src/service-providers/active_campaign/ProviderSidebar.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/mailchimp/ProviderSidebar.js
Labels: [Status] Approved

#1263 refactor: ad insertion
  includes/class-newspack-newsletters-ads.php
  includes/class-newspack-newsletters-renderer.php
  src/ads/editor/index.js
  src/ads/newsletter-editor/index.js
  src/editor/blocks/ad/edit.js
Labels: [Status] Approved

#1272 feat: revenue optimizations
  includes/class-newspack-newsletters-ads.php
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  includes/email-template.mjml.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  includes/tracking/class-admin.php
  includes/tracking/class-click.php
  includes/tracking/class-data-events.php
  includes/tracking/class-pixel.php
  includes/tracking/class-utils.php
  newspack-newsletters.php
  src/ads-admin/editor/index.js
  src/ads/editor/index.js
  src/ads/newsletter-editor/index.js
  src/ads/utils.js
  src/components/send-button/index.js
  src/components/send-button/style.scss
  src/editor/api/index.js
  src/editor/blocks/ad/block.json
  src/editor/blocks/ad/edit.js
  src/editor/blocks/ad/editor.scss
  src/editor/blocks/ad/index.js
  src/editor/blocks/posts-inserter/block.json
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/query-controls.js
  src/editor/blocks/posts-inserter/utils.js
  src/editor/index.js
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/sidebar/index.js
  src/newsletter-editor/testing/index.js
  src/service-providers/active_campaign/ProviderSidebar.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/mailchimp/ProviderSidebar.js
  tests/test-tracking.php
  webpack.config.js
Labels: [Status] Approved

#1277 fix: avoid reprocessing links
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Needs Review

#1280 fix(posts-inserter): avoid conflicting UI state
  src/editor/blocks/posts-inserter/query-controls.js
Labels: bug, [Status] Approved

#1282 Release Sep 13
  CHANGELOG.md
  composer.lock
  includes/class-newspack-newsletters-ads.php
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-logger.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-subscription.php
  includes/class-newspack-newsletters.php
  includes/class-subscription-list.php
  includes/class-subscription-lists.php
  includes/email-template.mjml.php
  includes/plugins/class-woocommerce-memberships.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  includes/tracking/class-admin.php
  includes/tracking/class-click.php
  includes/tracking/class-data-events.php
  includes/tracking/class-pixel.php
  includes/tracking/class-utils.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/ads-admin/editor/index.js
  src/ads/editor/index.js
  src/ads/newsletter-editor/index.js
  src/ads/utils.js
  src/blocks/subscribe/index.php
  src/components/send-button/index.js
  src/components/send-button/style.scss
  src/editor/api/index.js
  src/editor/blocks/ad/block.json
  src/editor/blocks/ad/edit.js
  src/editor/blocks/ad/editor.scss
  src/editor/blocks/ad/index.js
  src/editor/blocks/posts-inserter/block.json
  src/editor/blocks/posts-inserter/index.js
  src/editor/blocks/posts-inserter/query-controls.js
  src/editor/blocks/posts-inserter/utils.js
  src/editor/index.js
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/sidebar/index.js
  src/newsletter-editor/testing/index.js
  src/service-providers/active_campaign/ProviderSidebar.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/mailchimp/ProviderSidebar.js
  tests/test-subscription-list.php
  tests/test-subscription-lists.php
  tests/test-tracking.php
  tests/trait-lists-setup.php
  webpack.config.js
Labels: [Status] Approved

#1285 fix: width behavior in buttons blocks with defined widths
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved

#1276 fix: buttons' border radius, width, padding and colors
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved

#1288 fix: fatal error from nonexistent class in main plugin
  includes/class-newspack-newsletters-subscription.php
Labels: [Status] Approved

#1298 fix: prevent duplicate js plugin registration
  src/ads/newsletter-editor/disable-auto-ads.js
  src/ads/newsletter-editor/index.js
  src/components/send-button/index.js
Labels: [Status] Approved

#1300 fix: avoid duplicate firing of add_contact
  includes/class-newspack-newsletters-subscription.php
  includes/plugins/class-woocommerce-memberships.php
Labels: [Status] Approved

#1283 feat: add color picker for the subscribe block button
  src/blocks/subscribe/block.json
  src/blocks/subscribe/edit.js
  src/blocks/subscribe/editor.scss
  src/blocks/subscribe/index.php
Labels: [Status] Approved

#1287 fix: newsletterData handling and editor improvements
  includes/class-newspack-newsletters.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/components/init-modal/screens/layout-picker/index.js
  src/components/send-button/index.js
  src/editor/api/index.js
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/index.js
  src/newsletter-editor/layout/index.js
  src/newsletter-editor/utils.js
  src/service-providers/active_campaign/ProviderSidebar.js
  src/service-providers/campaign_monitor/ProviderSidebar.js
Labels: [Status] Approved

#1301 fix: remove honeypot field if using reCAPTCHA
  src/blocks/subscribe/index.php
Labels: [Status] Approved

#1304 refactor: proper use of editor-related selectors
  src/ads/newsletter-editor/disable-auto-ads.js
Labels: [Status] Approved
