Repository Automattic/newspack-newsletters, pull requests merged in 2023-01, with the labels that each got.

#1055 Allow constant contact to send to segments
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-controller.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/constant_contact/style.scss
Labels: [Status] Approved

#1062 fix: disable tag based lists
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved

#1064 Alpha release Jan 13
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-controller.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  package-lock.json
  package.json
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/constant_contact/style.scss
Labels: [Status] Needs Review

#1063 feat: add caching to mailchimp
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-cached-data.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
Labels: [Status] Approved

#1067 Release Jan 24
  CHANGELOG.md
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-controller.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/constant_contact/style.scss
Labels: [Status] Approved

#1069 fix(activecampaign): handle error on field creation
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
Labels: [Status] Approved

#1070 feat(ras): support custom contact metadata prefixes for RAS
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
Labels: [Status] Approved, Feature Request, Reader Activation, ActiveCampaign
