Repository Automattic/newspack-newsletters, pull requests merged in 2024-10, with the labels that each got.

#1666 Fix: Dynamically fetch message ID in ActiveCampaign test emails
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
Labels: bug, [Status] Approved

#1664 fix: ignore (but log) local list errors when updating contact lists
  includes/service-providers/class-newspack-newsletters-service-provider.php
Labels: [Status] Approved

#1663 fix: parse legacy layout defaults
  includes/class-newspack-newsletters-layouts.php
  includes/class-newspack-newsletters.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved

#1658 epic: consolidate newsletter editor data and UI
  includes/class-newspack-newsletters-ads.php
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-layouts.php
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters-subscription.php
  includes/class-newspack-newsletters.php
  includes/class-send-list.php
  includes/class-send-lists.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign-controller.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor-controller.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/class-newspack-newsletters-service-provider-controller.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-controller.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/letterhead/class-newspack-newsletters-letterhead.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-cached-data.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-controller.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  src/components/init-modal/screens/layout-picker/index.js
  src/components/send-button/index.js
  src/editor/blocks/mailchimp-merge-tags/index.js
  src/editor/blocks/posts-inserter/block.json
  src/editor/blocks/share/index.js
  src/editor/mjml/index.js
  src/newsletter-editor/campaign-link/index.js
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/index.js
  src/newsletter-editor/layout/index.js
  src/newsletter-editor/public/index.js
  src/newsletter-editor/sidebar/autocomplete.js
  src/newsletter-editor/sidebar/index.js
  src/newsletter-editor/sidebar/send-to.js
  src/newsletter-editor/sidebar/sender.js
  src/newsletter-editor/sidebar/style.scss
  src/newsletter-editor/store.js
  src/newsletter-editor/testing/index.js
  src/newsletter-editor/utils.js
  src/service-providers/active_campaign/ProviderSidebar.js
  src/service-providers/active_campaign/index.js
  src/service-providers/campaign_monitor/ProviderSidebar.js
  src/service-providers/campaign_monitor/index.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/constant_contact/index.js
  src/service-providers/example/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/mailchimp/index.js
  src/service-providers/mailchimp/utils.js
  src/service-providers/manual/index.js
  tests/bootstrap.php
  tests/test-labels.php
  tests/test-send-list.php
  tests/test-send-lists.php
  tests/test-service-provider.php
  tests/trait-send-lists-setup.php
Labels: [Status] Approved

#1670 fix: fetching and display of sync errors after saving
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/editor/mjml/index.js
  src/newsletter-editor/store.js
Labels: [Status] Approved

#1674 feat: disable newsletter tracking
  includes/tracking/class-click.php
  includes/tracking/class-pixel.php
Labels: [Status] Approved

#1673 fix(mailchimp): unsetting sublists in synced campaign
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-cached-data.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved

#1680 Adjust nonce logic
  src/blocks/subscribe/index.php
Labels: [Status] Approved

#1672 feat: display list remote name on settings page
  includes/class-newspack-newsletters-settings.php
  includes/class-subscription-list.php
  includes/class-subscription-lists.php
  tests/test-subscription-lists.php
Labels: [Status] Approved

#1679 fix: avoid race condition between post-save sync & test
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/editor/mjml/index.js
  src/newsletter-editor/store.js
  src/newsletter-editor/testing/index.js
Labels: [Status] Approved

#1684 fix: check for error type before logging
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-cached-data.php
Labels: [Status] Approved

#1682 fix: strip Mailchimp merge tags from email preview text
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved

#1685 fix(mailchimp): avoid duplicate audiences in Mailchimp UIs
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved

#1689 fix: move Preview, Send buttons to match Publish button location
  src/newsletter-editor/editor/index.js
Labels: [Status] Approved, wp 6.7
