Repository Automattic/newspack-newsletters, pull requests merged in 2024-07, with the labels that each got.

#1552 Release Jul 01
  assets/black-x.png
  assets/white-x.png
  composer.lock
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  includes/email-template-mjml.css
  includes/email-template.mjml.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/interface-newspack-newsletters-wp-hookable.php
  includes/service-providers/letterhead/class-newspack-newsletters-letterhead.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-usage-reports.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/blocks/subscribe/index.php
  src/blocks/subscribe/style.scss
  src/blocks/subscribe/view.js
  src/components/init-modal/screens/api-keys/index.js
  src/components/send-button/index.js
  src/editor/api/index.js
  src/editor/index.js
  src/editor/style.scss
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/testing/index.js
  src/newsletter-editor/utils.js
  tests/mocks/class-mailchimp-mock.php
  tests/test-renderer.php
  tests/test-usage-reports.php
  webpack.config.js
Labels: [Status] Needs Review

#1540 fix: ensure form_processed hook is always and correctly fired
  src/blocks/subscribe/index.php
Labels: [Status] Approved

#1548 fix: avoid fatal errors on usage reports
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-usage-reports.php
Labels: [Status] Needs Review

#1565 fix: nonexistent method; don't remove the submit button (just the spinner)
  src/blocks/subscribe/view.js
Labels: [Status] Approved

#1560 fix: remove grid block from newsletters
  src/editor/index.js
Labels: [Status] Approved, wp 6.6

#1561 fix: update CSS selector used to fix linked header style editor previews
  src/editor/blocks/posts-inserter/style.scss
Labels: [Status] Approved, wp 6.6

#1567 fix: error handling for Mailchimp `add_contact` method
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved

#1562 feat: refactor add_contact and put async sign up behind a flag
  includes/class-newspack-newsletters-contacts.php
  includes/class-newspack-newsletters-subscription.php
  tests/test-esp-add-contact.php
Labels: [Status] Approved

#1569 fix(recaptcha): handle inactive recaptcha
  src/blocks/subscribe/view.js
Labels: [Status] Approved

#1573 Release Jul 15
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-usage-reports.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/blocks/subscribe/edit.js
  src/blocks/subscribe/editor.scss
  src/blocks/subscribe/index.php
  src/blocks/subscribe/style-variations.scss
  src/blocks/subscribe/style.scss
  src/blocks/subscribe/view.js
Labels: [Status] Approved

#1570 fix: refresh MJML on save for all newsletter editor CPTs
  includes/class-newspack-newsletters-editor.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/editor/index.js
  src/editor/mjml/index.js
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/utils.js
Labels: [Status] Approved

#1566 feat(constant-contact): enable subscription management in my account
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
Labels: [Status] Approved

#1568 feat: add methods that were in mailchimp data connector
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved

#1575 feat: update method calls
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/blocks/subscribe/index.php
Labels: [Status] Approved

#1554 fix(usage-reports): fix MC usage reports backfill inflated counts
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-usage-reports.php
  tests/mocks/class-mailchimp-mock.php
  tests/test-mailchimp-usage-report.php
Labels: [Status] Needs Review

#1556 fix: sync newsletter campaigns on post meta update for all ESPs
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  package-lock.json
  package.json
  src/blocks/subscribe/view.js
  src/newsletter-editor/editor/index.js
Labels: [Status] Approved

#1578 fix: avoid fatal when provider is manual
  includes/class-newspack-newsletters-editor.php
Labels: [Status] Approved

#1579 feat(campaign-monitor): deprecation warning and environment constant for CM
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#1582 Release Jul 29
  newspack-newsletters.php
Labels: [Status] Approved
