Repository Automattic/newspack-newsletters, pull requests merged in 2024-12, with the labels that each got.

#1719 fix: add check to see if color is populated before adding to CSS
  includes/class-newspack-newsletters-editor.php
Labels: [Status] Approved

#1720 Release Dec 09
  .github/workflows/changelog.yml
  includes/class-newspack-newsletters-renderer.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-cached-data.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-usage-reports.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/blocks/subscribe/index.php
  src/blocks/subscribe/view.js
  tests/test-mailchimp-cached-data.php
  tests/test-renderer.php
  tests/test-usage-reports.php
Labels: [Status] Approved

#1722 feat: add support for Bluesky in social icons blocks
  assets/black-bluesky.png
  assets/white-bluesky.png
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved

#1724 fix(subscribe-block): add recaptcha styles
  src/blocks/subscribe/style.scss
Labels: [Status] Approved, ras-acc testing

#1728 Release Dec 16
  assets/black-bluesky.png
  assets/white-bluesky.png
  includes/class-newspack-newsletters-editor.php
  includes/class-newspack-newsletters-renderer.php
  newspack-newsletters.php
  package-lock.json
  package.json
Labels: [Status] Approved

#1729 fix: avoid creating merge fields if we can't get merge fields
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Needs Review
