Repository Automattic/newspack-newsletters, pull requests merged in 2024-08, with the labels that each got.

#1587 fix(layouts): settings defaults from layout (mailchimp)
  src/service-providers/mailchimp/ProviderSidebar.js
Labels: [Status] Approved

#1577 feat: make "Send To" UI autocomplete instead of dropdowns
  includes/class-subscription-list.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  src/newsletter-editor/public/index.js
  src/newsletter-editor/sidebar/index.js
  src/newsletter-editor/sidebar/send-to.js
  src/newsletter-editor/sidebar/style.scss
  src/newsletter-editor/utils.js
  src/service-providers/active_campaign/ProviderSidebar.js
  src/service-providers/constant_contact/ProviderSidebar.js
  src/service-providers/constant_contact/index.js
  src/service-providers/mailchimp/ProviderSidebar.js
  src/service-providers/mailchimp/index.js
  src/service-providers/mailchimp/utils.js
Labels: [Status] Approved

#1530 fix: refactor for updating dependencies in newspack-scripts
  .nvmrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  .stylelintrc.js
  composer.json
  composer.lock
  package-lock.json
  package.json
  phpcs.xml
  src/blocks/index.js
  src/blocks/subscribe/edit.js
  src/blocks/subscribe/editor.scss
  src/blocks/subscribe/style-variations.scss
  src/blocks/subscribe/style.scss
  src/branding/style.scss
  src/components/init-modal/style.scss
  src/components/newsletter-preview/style.scss
  src/editor/blocks/ad/editor.scss
  src/editor/blocks/conditional-content/style.scss
  src/editor/blocks/embed/index.js
  src/editor/blocks/mailchimp-merge-tags/style.scss
  src/editor/blocks/posts-inserter/style.scss
  src/editor/blocks/share/edit.js
  src/editor/blocks/visibility-attribute/style.scss
  src/editor/style.scss
  src/newsletter-editor/editor/style.scss
  src/newsletter-editor/layout/style.scss
  src/newsletter-editor/sidebar/style.scss
  src/newsletter-editor/styling/style.scss
  src/service-providers/active_campaign/index.js
  src/service-providers/active_campaign/style.scss
  src/service-providers/campaign_monitor/style.scss
  src/service-providers/constant_contact/style.scss
  src/service-providers/mailchimp/ProviderSidebar.js
  webpack.config.js
Labels: [Status] Approved, dependencies

#1574 Add/logging
  includes/class-newspack-newsletters-contacts.php
  includes/class-newspack-newsletters-subscription.php
  includes/plugins/class-woocommerce-memberships.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-notes.php
  newspack-newsletters.php
  src/blocks/subscribe/index.php
  tests/mocks/class-mailchimp-mock.php
  tests/test-subscription-attempts.php
Labels: [Status] Needs Review

#1593 feat: introduce "subscribe" method
  includes/class-newspack-newsletters-contacts.php
  includes/class-newspack-newsletters-subscription.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  src/blocks/subscribe/index.php
  tests/test-contacts.php
Labels: [Status] Approved

#1590 fix: human-readable timestamp of sent newsletters
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#1601 fix: "My Account" newsletters subscription
  includes/class-newspack-newsletters-subscription.php
Labels: [Status] Approved

#1604 fix(ras-acc): merge trunk into epic/ras-acc
  .nvmrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  .stylelintrc.js
  composer.json
  composer.lock
  includes/class-newspack-newsletters.php
  package-lock.json
  package.json
  phpcs.xml
  src/blocks/index.js
  src/blocks/subscribe/edit.js
  src/blocks/subscribe/editor.scss
  src/blocks/subscribe/style-variations.scss
  src/blocks/subscribe/style.scss
  src/branding/style.scss
  src/components/init-modal/style.scss
  src/components/newsletter-preview/style.scss
  src/editor/blocks/ad/editor.scss
  src/editor/blocks/conditional-content/style.scss
  src/editor/blocks/embed/index.js
  src/editor/blocks/mailchimp-merge-tags/style.scss
  src/editor/blocks/posts-inserter/style.scss
  src/editor/blocks/share/edit.js
  src/editor/blocks/visibility-attribute/style.scss
  src/editor/style.scss
  src/newsletter-editor/editor/style.scss
  src/newsletter-editor/layout/style.scss
  src/newsletter-editor/sidebar/style.scss
  src/newsletter-editor/styling/style.scss
  src/service-providers/active_campaign/index.js
  src/service-providers/active_campaign/style.scss
  src/service-providers/campaign_monitor/style.scss
  src/service-providers/constant_contact/style.scss
  src/service-providers/mailchimp/ProviderSidebar.js
  webpack.config.js
Labels: [Status] Approved, ras-acc testing

#1591 Hotfix/mc data report missing days
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-usage-reports.php
  package-lock.json
  package.json
  src/ads/editor/index.js
  src/editor/blocks/posts-inserter/index.js
  src/editor/mjml/index.js
  src/newsletter-editor/editor/index.js
Labels: [Status] Approved

#1603 Fix/status if new
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-notes.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  tests/mocks/class-mailchimp-mock.php
Labels: [Status] Approved

#1602 Epic/consolidate data flows
  includes/class-newspack-newsletters-contacts.php
  includes/class-newspack-newsletters-subscription.php
  includes/plugins/class-woocommerce-memberships.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-notes.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  src/blocks/subscribe/index.php
  tests/mocks/class-mailchimp-mock.php
  tests/test-contacts.php
  tests/test-esp-add-contact.php
  tests/test-subscription-attempts.php
Labels: [Status] Approved

#1609 Release Aug 12
  .nvmrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  .stylelintrc.js
  composer.json
  composer.lock
  includes/class-newspack-newsletters-settings.php
  includes/class-newspack-newsletters.php
  newspack-newsletters.php
  package-lock.json
  package.json
  phpcs.xml
  readme.txt
  src/blocks/index.js
  src/blocks/subscribe/edit.js
  src/blocks/subscribe/editor.scss
  src/blocks/subscribe/style-variations.scss
  src/blocks/subscribe/style.scss
  src/branding/style.scss
  src/components/init-modal/style.scss
  src/components/newsletter-preview/style.scss
  src/editor/blocks/ad/editor.scss
  src/editor/blocks/conditional-content/style.scss
  src/editor/blocks/embed/index.js
  src/editor/blocks/mailchimp-merge-tags/style.scss
  src/editor/blocks/posts-inserter/style.scss
  src/editor/blocks/share/edit.js
  src/editor/blocks/visibility-attribute/style.scss
  src/editor/style.scss
  src/newsletter-editor/editor/style.scss
  src/newsletter-editor/layout/style.scss
  src/newsletter-editor/sidebar/style.scss
  src/newsletter-editor/styling/style.scss
  src/service-providers/active_campaign/index.js
  src/service-providers/active_campaign/style.scss
  src/service-providers/campaign_monitor/style.scss
  src/service-providers/constant_contact/style.scss
  src/service-providers/mailchimp/ProviderSidebar.js
  webpack.config.js
Labels: [Status] Needs Review

#1610 fix: check for valid ID before post type check
  includes/class-newspack-newsletters.php
Labels: [Status] Approved

#1608 fix(subscription-block): remove default list when misconfigured
  src/blocks/subscribe/edit.js
  src/blocks/subscribe/index.php
Labels: [Status] Approved

#1606 fix(editor): render notice on sync error
  includes/class-newspack-newsletters-editor.php
  includes/service-providers/class-newspack-newsletters-service-provider-controller.php
  src/editor/mjml/index.js
  src/newsletter-editor/editor/index.js
Labels: [Status] Approved

#1614 fix: add preview text fallback to make sure HTML is removed
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved

#1613 chore: add phpcsSniffs folder to dist ignore
  .distignore
Labels: [Status] Needs Review

#1615 fix(ras-acc): respect social icons padding
  includes/class-newspack-newsletters-renderer.php
  tests/test-renderer.php
Labels: [Status] Approved, ras-acc testing

#1600 fix(mailchimp): selecting mailchimp segments with groups
  src/service-providers/mailchimp/ProviderSidebar.js
Labels: [Status] Approved

#1621 feat(styling): list styles
  includes/email-template-mjml.css
Labels: [Status] Approved

#1627 Release Aug 26
  .distignore
  composer.json
  composer.lock
  includes/class-newspack-newsletters-contacts.php
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters-subscription.php
  includes/class-newspack-newsletters.php
  includes/plugins/class-woocommerce-memberships.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-notes.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  package-lock.json
  package.json
  phpcs.xml
  phpcsSniffs/Sniffs/NewspackNewslettersContactsMethodsSniff.php
  phpcsSniffs/ruleset.xml
  readme.txt
  src/blocks/subscribe/edit.js
  src/blocks/subscribe/index.php
  tests/mocks/class-mailchimp-mock.php
  tests/test-contacts.php
  tests/test-esp-add-contact.php
  tests/test-subscription-attempts.php
Labels: [Status] Approved

#1620 chore: refactor upsert_contact and update_contact flows
  includes/class-newspack-newsletters-contacts.php
  includes/class-newspack-newsletters-subscription.php
  includes/class-subscription-list.php
  includes/class-subscription-lists.php
  includes/plugins/class-woocommerce-memberships.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-groups.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-notes.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-subscription-list-trait.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  phpcsSniffs/Sniffs/NewspackNewslettersContactsMethodsSniff.php
  tests/abstract-esp-tests.php
  tests/bootstrap.php
  tests/mocks/class-mailchimp-mock.php
  tests/test-constant-contact-esp-common-methods.php
  tests/test-contacts.php
  tests/test-mailchimp-contact-methods.php
  tests/test-mailchimp-contacts.php
  tests/test-mailchimp-esp-common-methods.php
  tests/test-mailchimp-usage-report.php
  tests/test-subscription-attempts.php
  tests/test-subscription-list.php
  tests/test-subscription-lists.php
  tests/test-subscriptions.php
  tests/trait-lists-setup.php
Labels: [Status] Approved
