Repository Automattic/newspack-newsletters, pull requests merged in 2024-11, with the labels that each got.

#1686 fix: dont html encode ampersands in subject
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  src/newsletter-editor/sidebar/index.js
Labels: [Status] Needs Review

#1688 fix: avoid Redux usage and related errors in non-newsletter email editors
  src/components/send-button/index.js
  src/editor/mjml/index.js
  src/newsletter-editor/index.js
  src/newsletter-editor/utils.js
Labels: [Status] Approved

#1693 fix(send-lists): temporary fix for searching many mailchimp audiences
  src/newsletter-editor/store.js
Labels: [Status] Approved

#1695 fix: correct button stacking on sent newsletters
  src/components/send-button/index.js
Labels: [Status] Approved, wp 6.7

#1696 chore: add changelog github workflow
  .github/labeler.yml
  .github/workflows/changelog.yml
Labels: [Status] Approved

#1703 fix: avoid double notice components
  src/newsletter-editor/editor/index.js
Labels: [Status] Approved

#1705 Release Nov 11
  .github/labeler.yml
  .github/workflows/changelog.yml
  .github/workflows/main.yml
  includes/class-newspack-newsletters-settings.php
  includes/class-subscription-list.php
  includes/class-subscription-lists.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/components/send-button/index.js
  src/editor/mjml/index.js
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/editor/style.scss
  src/newsletter-editor/index.js
  src/newsletter-editor/sidebar/index.js
  src/newsletter-editor/store.js
  src/newsletter-editor/testing/index.js
  src/newsletter-editor/utils.js
  tests/test-subscription-lists.php
Labels: [Status] Approved

#1706 chore: update base branch to release
  .github/labeler.yml
  .github/workflows/changelog.yml
  .github/workflows/main.yml
  CHANGELOG.md
  newspack-newsletters.php
  package-lock.json
  package.json
  src/components/send-button/index.js
  src/newsletter-editor/editor/index.js
  src/newsletter-editor/editor/style.scss
  src/newsletter-editor/store.js
Labels: [Status] Approved, ras-acc testing

#1707 fix: better handle error responses from AC api
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  tests/test-active-campaign-api-requests.php
Labels: [Status] Approved

#1708 chore: update 'tested up to' WP version number
  readme.txt
Labels: [Status] Approved

#1699 feat(cli): add command to synchronize premium lists
  composer.json
  includes/plugins/woocommerce-memberships/class-sync-membership-tied-subscribers-cli.php
  includes/plugins/woocommerce-memberships/class-woocommerce-memberships.php
  newspack-newsletters.php
  tests/bootstrap.php
  tests/mocks/wc-memberships.php
  tests/mocks/wp-cli.php
  tests/plugins/test-woocommerce-memberships.php
  tests/test-cli-sync-membership-tied-subscribers.php
  tests/trait-wc-memberships-setup.php
Labels: [Status] Approved

#1712 chore: remove dependabot pulls from changelog workflow
  .github/workflows/changelog.yml
Labels: [Status] Approved

#1715 Release Nov 25
  composer.json
  includes/class-newspack-newsletters-settings.php
  includes/plugins/woocommerce-memberships/class-sync-membership-tied-subscribers-cli.php
  includes/plugins/woocommerce-memberships/class-woocommerce-memberships.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-cached-data.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  readme.txt
  tests/bootstrap.php
  tests/mocks/wc-memberships.php
  tests/mocks/wp-cli.php
  tests/plugins/test-woocommerce-memberships.php
  tests/test-active-campaign-api-requests.php
  tests/test-cli-sync-membership-tied-subscribers.php
  tests/trait-wc-memberships-setup.php
Labels: [Status] Needs Review

#1714 feat: rate limit requests for CC
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
Labels: [Status] Approved

#1713 Feat/esp report error handling
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-usage-reports.php
  tests/test-usage-reports.php
Labels: [Status] Approved

#1698 fix: let the exceptions be thrown
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-cached-data.php
  tests/test-mailchimp-cached-data.php
Labels: [Status] Approved

#1716 feat(ras-acc): add reader account creation and login improvements
  includes/class-newspack-newsletters-renderer.php
  src/blocks/subscribe/index.php
  src/blocks/subscribe/view.js
  tests/test-renderer.php
Labels: [Status] Approved
