Repository Automattic/newspack-newsletters, pull requests merged in 2025-03, with the labels that each got.

#1764 feat: allow email address updates to ESPs
  includes/class-newspack-newsletters-contacts.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved

#1754 fix: allow for context-specific reader-facing error messsages
  includes/class-newspack-newsletters-contacts.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/campaign_monitor/class-newspack-newsletters-campaign-monitor.php
  includes/service-providers/class-newspack-newsletters-service-provider.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/interface-newspack-newsletters-esp-service.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved, [Status] Needs Changes or Feedback

#1770 fix(editor): allow newsletter editor JS to run for manual ESP
  src/newsletter-editor/index.js
  src/newsletter-editor/store.js
  src/newsletter-editor/utils.js
Labels: [Status] Approved

#1766 fix(premium): conditions for premium lists auto-signup
  includes/plugins/woocommerce-memberships/class-woocommerce-memberships.php
Labels: [Status] Approved

#1769 fix: handle email change esp sync errors
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-notes.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Approved

#1772 feat: update buttons style in editor
  src/ads/newsletter-editor/disable-auto-ads.js
  src/ads/newsletter-editor/index.js
  src/components/init-modal/screens/layout-picker/index.js
  src/editor/style.scss
  src/newsletter-editor/editor/style.scss
  src/newsletter-editor/layout/index.js
  src/newsletter-editor/testing/index.js
  src/newsletter-editor/testing/style.scss
Labels: [Status] Approved

#1774 feat: incorporate the Mailchimp API with a few tweaks
  composer.json
  composer.lock
  includes/class-newspack-newsletters.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-api.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-cached-data.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-controller.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-groups.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-notes.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-usage-reports.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  tests/mocks/class-mailchimp-mock.php
Labels: [Status] Approved

#1776 fix: add UTM parameters to link URLs inside newsletter content
  includes/class-newspack-newsletters-renderer.php
Labels: [Status] Approved

#1777 fix: registration page event meta
  src/blocks/subscribe/index.php
Labels: [Status] Approved

#1783 fix(modal-checkout): filter post-checkout signup lists
  includes/plugins/woocommerce-memberships/class-woocommerce-memberships.php
Labels: [Status] Approved

#1785 Release Mar 18
  includes/class-newspack-newsletters-contacts.php
  includes/plugins/woocommerce-memberships/class-woocommerce-memberships.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact-sdk.php
  includes/service-providers/constant_contact/class-newspack-newsletters-constant-contact.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-cached-data.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-notes.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  package-lock.json
  package.json
Labels: [Status] Approved

#1784 fix(editor): fix multiple-emails notice for AC and MC ESPs
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
Labels: [Status] Needs Review

#1787 fix: mailchimp email change sync strategy
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  tests/test-mailchimp-contact-methods.php
Labels: [Status] Approved

#1790 fix: update social icon editor CSS selector for WP 6.8
  src/editor/style.scss
Labels: [Status] Approved, wp 6.8

#1793 Release Mar 31
  composer.json
  composer.lock
  includes/class-newspack-newsletters-renderer.php
  includes/class-newspack-newsletters.php
  includes/service-providers/active_campaign/class-newspack-newsletters-active-campaign.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-api.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-cached-data.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-controller.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-groups.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-notes.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp-usage-reports.php
  includes/service-providers/mailchimp/class-newspack-newsletters-mailchimp.php
  newspack-newsletters.php
  package-lock.json
  package.json
  src/ads/newsletter-editor/disable-auto-ads.js
  src/ads/newsletter-editor/index.js
  src/components/init-modal/screens/layout-picker/index.js
  src/editor/style.scss
  src/newsletter-editor/editor/style.scss
  src/newsletter-editor/layout/index.js
  src/newsletter-editor/testing/index.js
  src/newsletter-editor/testing/style.scss
  tests/mocks/class-mailchimp-mock.php
Labels: [Status] Approved
